$color-main-one: #fff;
$color-main-two: #fff;
$color-main-three: #ccc;
$color-main-four: #112231;
$bg-color-button: #ebe633;
$bg-word: #ff6319;
$color-body: #121a23;
$bg-linear-gradient: linear-gradient(to right, #ebe633, #ba263f);
$font-body: 15px;
$font-family: 'Source Sans Pro', sans-serif;
$font-family-2: 'Hind', sans-serif;
$font-family-3: 'Fresca', sans-serif;