$color-main-one: #112231;
$color-main-two: #fff;
$color-main-three: #ccc;
$color-main-four: #112231;
$bg-color-button: #68b836;
$bg-word: #245ca1;
$color-body: #fff;
$bg-linear-gradient: linear-gradient(to right, #68b836, #2658ba);
$font-body: 15px;
$font-family: 'Source Sans Pro', sans-serif;
$font-family-2: 'Hind', sans-serif;
$font-family-3: 'Fresca', sans-serif;